.table_side_main {
  height: 100%;
    color: white;

    background: hsla(236, 100%, 8%, 1);

    background: linear-gradient(90deg, hsla(236, 100%, 8%, 1) 0%, hsla(211, 100%, 28%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(236, 100%, 8%, 1) 0%, hsla(211, 100%, 28%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(236, 100%, 8%, 1) 0%, hsla(211, 100%, 28%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#000328", endColorstr="#00458E", GradientType=1);
    

    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.add_client_box{
  width: fit-content;
  padding: 7px 15px ;
  display: flex;
  cursor: pointer;
  width: 100%;
  background-color: #efefef97;
  border-radius: 3px;
  position: relative;
}
.heading_underline{
   width: 15%;
   height: 100%;
   top: 5px;
   left: 0px;
   position: absolute;
   /* background-color: aqua; */
   /* z-index: -1; */
   border-bottom: 5px solid #4CAF50;
   
}

.add_client_box:hover{
  background-color: #efefef;
}
.add_client_box p{
  margin-right: 10px;
  font-size: 1.2rem;
  margin-top:-1px ;
}
.add_client_box_hr{

  border: none;
  /* border-top: 1px dashed #4CAF50; */

}