.table_main {
    padding-top: 20px;
    /* border: 1px solid black; */
    padding-bottom: 25px;
}

.main_input_table tr td {
    border: none;
    background-color: white;
    /* border: 1px solid black; */
    padding-left: 0px;
    padding-right: 10px;
    padding-left: 10px;

}

.main_input_table {
    border-collapse: separate;
    border-spacing: 0 25px;
}

.List_of_values {
    position: relative;
    display: grid;
    grid-template-columns: 85% 15%;
    border: 1px solid rgba(78, 76, 76, 0.458);

    border-radius: 3px;
    /* overflow: hidden; */
    /* width: 120%; */
}
.List_of_values input{
    height: 4vh;
    border: none;
    /* width: 120%; */
    padding-left: 5px;
    border-radius: 3px;
   


}
input{
    font-size: 12px;
}
label{
    font-weight: 500;
    font-size: 12.5px;
    color: rgba(0, 0, 0, 0.801);
    /* padding-left: 10px; */
}

.arrow_down_box{
    background-color: #93b0c97a;
}
#arrow_down_img {
    position: absolute;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 4px;
    top: 6px;
   

}
.startdate_input{
    border: 1px solid rgba(78, 76, 76, 0.458);
    padding: 5.5px;
    padding-left: 10px;
    height: 4vh;
    border-radius: 3px;
    width: 100%;
}

.checkbox_input{
    /* border: 1px solid black; */
    display: flex;
    padding-left: 20px;
}
.nda_signed_input{
   margin-left: 10px;
   border-radius: 50%;
 
    
}










.date_input {
    padding-top: 40px;
    height: 40px;
    margin: 30px 20px 0px 0px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid black;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.table_checkbox {
    padding-top: 40px;
    height: 40px;
    margin: 30px 20px 0px 0px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid black;
    border: none;
    /* box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.date_input input {
    border: none;
    font-size: 15px;
}



.client_input_fields {
    height: 4vh;
    /* margin: 20px 20px 0px 0px; */
    padding: 0px 5px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid rgba(78, 76, 76, 0.458);
    /* border: none; */
    /* box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px; */

}


.Table_save_btn {
    /* margin: 10px; */
    margin-bottom: 5px;
    margin-right: 10px;
    display: flex;
    justify-content: end;
}

.Table_save_btn_btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    /* transition: all 0.3s ease-in; */
    transition: all .3s ease;

}
.Table_save_btn_btn:hover{
    transform: translate3D(0,-1px,0) scale(1.1);
    transition: all .3s ease;
    cursor: pointer;
    /* background-color: #0879c4; */

}

.Table_save_btn_btn_color{
    background-color: #ec1d0e;
    transition: all 0.3s ease-in;    
}

.site_main_div {
    margin-top: 50px;
}