.outer_parent_div {
    width: 80vw;
    overflow-x: hidden;
    /* border: 10px solid black; */
    padding-bottom: 55px;

    

}

.parent_table_box {
    /* z-index: 5; */
    width: 200%;
    display: flex;
    position: relative;
    right: 0%;
    transition: all 0.5s ease-in-out;

}

.parent_class_move {

    width: 200%;
    display: flex;
    position: relative;
    right: 100%;
    transition: all 0.5s ease-in-out;

}

.table_data_box {
    padding: 30px;
    padding-top: 20px;
    width: 100%;
}

.site_data_box {
    padding: 30px;
    padding-top: 20px;
    width: 100%;
}



.site_submit {
    margin: 3vh;
    margin-right: 30px;
    display: flex;
    justify-content: end;
}

.site_submit button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
}



.data_submit_btn {
    margin-top: -70px;
    width: 80%;
    display: flex;
    justify-content: end;
    align-items: end;
    /* border: 1px solid red; */
    padding-right: 40px;
}

.data_submit_btn button {
    z-index: 2;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}
/* .contact_info_main{
    padding: 0px;
} */
.site_data_outer_box{
    position: relative;
    max-height: 33vh;
    overflow: hidden;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    transition: all 0.3s ease-in-out;
    margin-bottom: 5vh;
}

.site_data_outer_box_hid{
    position: relative;
    max-height: 0vh;
    overflow: hidden;
    transition: all 0.3s ease-in-out;


}