
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  /* transition: all 0.5s ease-in-out; */
}
.main_div {

  background-color: white;
  display: flex;
  flex-direction: row;
  height: 100vh;
  display: grid;
  grid-template-columns: 20vw 80vw;
  /* border: 3px solid red; */
}

.add_btn{
 
  background-color:#008304;
  /* Green */
  border: none;
  color: white;
  padding: 3px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  border-radius: 5px;
  cursor: pointer;

}

.del_btn{

background-color:red;
/* Green */
border: none;
color: white;
padding: 3px 10px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 13px;
border-radius: 5px;
cursor: pointer;

}