.main_div {

   background-color: white;
   display: flex;
   flex-direction: row;
   height: 100vh;
   display: grid;
   grid-template-columns: 20% 80%;



}
.table_side{
   height: 100vh;
   /* border: 1px solid black; */
   z-index: 1;
}
.main_box {

   width: 100vw;

}